@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  --primary: firebrick;
  --secondary: rgb(226 226 226);
  --tertiary: goldenrod;
}

body {
  font-family: 'Marck Script', cursive;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3.5rem;
  color: var(--tertiary);
}

.etch-a-sketch-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  width: 50rem;
  background-color: var(--primary);
  border-radius: 2rem;
  filter: drop-shadow(0.5rem 0.5rem 1rem);
}

.etch-a-sketch {
  display: flex;
  flex: none;
  flex-wrap: wrap;
}

.grid-size {
  font-size: 2rem;
  color: var(--tertiary);
}

.etch-a-sketch-canvas {
  width: 75%;
  aspect-ratio: 1 1;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 2rem 0;
  border-top: 0.5rem solid rgb(114 22 22);
  border-left: 0.5rem solid rgb(114 22 22);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 3rem;
}

.knob {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--secondary);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem);
}

.knob.adjust-grid,
.knob.clear-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.cell {
  flex-grow: 1;
}
